.main-section
  background: url('../assets/images/main-background.jpg') no-repeat scroll center
  color: $color-white
  height: 100vh

  &__brand-name
    font-weight: normal
    margin:
      bottom: 0
      left: $m-sm

  &__button
    color: $color-white
    display: none
    height: 80%
    margin-right: $font-size-lg
    padding: 0 $m-xs
    width: 120px

    +media-breakpoint-up(lg)
      display: inline-block

    &:hover
      border: 2px solid rgba($color-white, .2)
      cursor: pointer
      border-radius: $border-radius-sm

    &.-profile
      border-radius: $border-radius-base
      border: 2px solid rgba($color-white, .2)
      height: $m-lg
      overflow: hidden
      padding: unset
      width: auto

  &__header
    align-items: 80%
    display: flex
    justify-content: space-between
    padding: $m-sm $m-base

  &__logo-icon
    width: 30px

  &__profile-picture
    display: inline-block
    height: $m-lg
    width: $m-lg

  &__wrapper
    align-items: center
    display: flex

  &__navigation-button
    fill: $color-white
